<ion-header>
  <ion-toolbar>
    <ion-title>
      <nav id="aboutnav"> 
        <ion-img src="assets/img/logo.png"></ion-img>
       <div id="aboutlist">
         <ul>
             <ion-icon (click)="home()" name="home"></ion-icon>
             <ion-icon name="document-text-outline"></ion-icon>
         </ul> 
       </div>
     </nav>
    </ion-title>

  </ion-toolbar>

</ion-header>
<link href="//netdna.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

<ion-content  [fullscreen]="true">
    <ion-card >
       <h1 [ngStyle]="{ 'color': '#000000', 'padding-left': '15px'}"> HEALSPACE PSYCHOLOGICAL CLINIC INFORMED CONSENT FOR PSYCHOLOGICAL COUNSELING AND PSYCHOTHERAPY (ONLINE)</h1>
      <ion-card-content [ngStyle]="{ 'color': '#000000', 'text-align': 'justify'}">
      <p>
        HealSpace Psychological Clinic strives to assist those who walk through our doors with their journey towardshealing,
        recovery and personal growth.  Beginning psychotherapy can be a momentous step andit can also be a difficult decision. To make your first steps as smooth and comfortable as possible,we would like to take some time to explain HealSpace Psychological Clinic’s policy. By reaching a shared understanding of how our therapeutic relationship will work, we can begin to build the mutualtrust and respect that lay the foundation for successful therapy.
      </p>
      <ion-input  type="email" [(ngModel)] ="form.email" placeholder="Enter Input" >Email</ion-input>
      <h4 >
        ONLINE CONSULTATION GUIDELINES
      </h4>
      <br>
      <h6>NATURE OF COUNSELING AND PSYCHOTHERAPY</h6>  
      <p>
        <br>
        Psychological Counseling and Psychotherapy are methods of addressing one’s problems, issues, and/or concerns through a helping and interactive relationship between a therapist and a client. It uses varied techniques that are generally designed to help you gain insight into your problems, and eventually learn how to respond to such challenging situations with healthy coping skills. The ultimate goal is for you to increase your sense of well-being and improve your functioning as a person.
    
        We would like you to be aware that undergoing psychotherapy posts some risks and benefits.<br> These risks may include experiencing uncomfortable feelings such as sadness, guilt, anxiety, anger, frustration, and loneliness, since the process often requires disclosure of unpleasant emotions, remembering unlikable events, and talking about negative feelings or thoughts. However, your active involvement, honesty, and openness may bring a number of benefits to you in this therapy. It may lead to a reduction of distress and possible resolutions to your problems.<br> Though there are no guarantees about what will happen in the end, the success of treatment depends on how we work on things together during our sessions.

        We would like you to be aware as well that there might be misunderstandings possible in online consultations given that psychologists/counselors do not have access or limited access to non-verbal cues from the client. Mental health professionals gather information from body language, vocal inflection, eye contact, and other forms of non-verbal communication. In instances there are misunderstandings, please do notify the therapist so that the therapist may clarify your side. We are asking as well for your patience when therapists ask for clarification periodically.

        Just like any other relationship, there are certain rights and responsibilities that we must always remember and observe for this partnership to work smoothly and effectively. These will all be discussed in the succeeding part of this document.
        <br>
        <br>
        CONFIDENTIALITY AND ENVIRONMENT
        <br><br>
        We will strictly abide by the ethical guidelines and legal requirements followed in this kind of profession to maintain your privacy and to keep your treatment confidential. We cannot and will not tell anyone else what you have told us or that we are seeing you in the clinic, without your written permission. However, we would have to break your right to confidentiality under the following circumstances:
        <br><br>
        •	if you present a serious danger to yourself such as having suicidal ideations and other intent to do self-harm. We will inform your significant others to secure your safety.
        <br>
        •	if you present a serious danger to others by expressing intent to kill, hurt, or harm other people. We will inform that person(s) and warn them of your intentions so they may be able to secure their own safety. 
        <br>
        •	if we have good reason to believe that you are abusing a child or a vulnerable adult, or if you give us information about someone else who is doing this. We will immediately inform the concerned authorities to report it. We will inform you first before I take this action.
        <br>
        •	 if we are ordered at court to release information as part of legal involvement. 
        <br><br>
        The clinic will not be held liable for any breach of confidentiality through online means due to negligence by the online therapy/counseling platform used and any other reasons due to negligence of the client to protect his personal data on the device he/she used for online therapy/counseling as well as the environment he/she is in. To protect the confidentiality of both parties, the clinic will only provide online psychological interventions through accredited and telepsychology-standard communication means.

        The client is responsible to select an environment free from distractions. Distractions would stir away from effective and conducive therapy.
        <br><br>
        VERIFICATION OF IDENTITY
        <br><br>
        In order to verify the client's identity matches the information provided, we will require an upload of your ID during the fillup of client information. Existing clients need not do this.
        
        <br><br>
        TECHNOLOGY
        <br><br>
        The clinic will use health industry-standard communication means while intervention is being done. This means that confidentiality and data safety (encryption) means is at par with the global standards.
        <br>
        The client is responsible for securing his own computer hardware/communications device, internet access, and password security.
        <br>
        The clinic is not responsible for the client's equipment failure such as camera and internet access.
        <br><br> CONNECTIVITY ISSUES<br><br>
        Connectivity between client and therapist will be checked at the start of the session. However, connectivity issues might still occur beyond the control of the client and the therapist. If in case connectivity issues happen during video calls, the consultant will switch means of communication to online call or voice call. If still there are connectivity issues, the session will be switched to chat. This is for the continuous flow of the session and to maximize the time. If there is a prolonged connectivity issue, the consultant will extend the session if deemed appropriate.
        <br><br>RECORD KEEPING<br><br>
        All notes about our therapy sessions and all documents relating to you will be filed and stored in locked storage. Nobody else would have access to these records besides the clinic administrator and your therapist. Also, we will not use email or other on-line platforms to store soft copies of these documents.
        <br>
        Stored files/documents will be kept on our storage for 3 years since the last date of consultation. Afterward, files will be shredded and disposed of without compromising client privacy and confidentiality.
        <br>
        Recording of the session via video or audio is prohibited.
        <br><br>SCHEDULE<br><br>
        Our meetings would be a weekly, one-hour session (subject to change). We are both responsible for coming to our sessions promptly. We may have a 15-minute grace period for our appointment, but if you go beyond it, then the session will still have to end as scheduled. If it is the therapist who gets late, we will make up for the time you have missed.  
        <br>
        In case you would need to cancel or reschedule a session, please do provide at least a 48-hour notice of cancellation by calling us or sending us a message. If you are not able to cancel within the 48-hour period, 25% of the fee will be charged next session. If you are not able to cancel within the 24-hour period, 50% of the fee will be charged next session. If the cancellation was made at the time of the session schedule, full payment will be charged on top of the next session. We will also provide you with a notice in case it is the therapist who needs to cancel our appointment. 
        <br><br>PROFESSIONAL FEE<br><br>

        Weekly appointments will be charged after every session for face to face sessions, appointments will be charged before every session for online sessions. Kindly settle the fees with our clinic staff.     
        <br><br>TERMINATION<br><br>

        Ideally, treatment ends when the goals set at the beginning of the relationship have been achieved already. Since your commitment to counseling and psychotherapy is voluntary, you may have the right to withdraw from it at any time for any reason. But please do inform us regarding such a decision, so that a termination plan can be prepared. That will allow us to facilitate at least one or two ‘termination’ sessions to wrap things up. 

        <br>In a similar way, we also have the right to terminate the therapy when we have a good feeling that the therapy is not any more beneficial to you, or if the issues we tackle go beyond our competence. In such a case, we would have to refer you to a professional who can serve you better.
        <br><br>EMERGENCY<br><br>

        In case of emergency situations where suicidal thoughts may come out for example, or when extreme emotions come to surface, where we and your therapist are not be able to attend to you right away, contact your family physician or go to the nearest emergency room and ask for an on-call professional. Please also have in mind a relative or a trusted friend who may be able to respond to you immediately.
        <br><br> CONSENT TO PSYCHOTHERAPY/COUNSELING<br><br>
        Your filling up of details below indicates that you have read and understood all the information in this document, were provided accurate information, and agree to abide by the terms during our professional relationship. 
        <br>
      </p>
      <ion-item>
        <ion-label position="floating">Name of Client</ion-label>
        <br>
        <ion-input type="text" [(ngModel)] ="form.name"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Initials (for example, Michael V. Flores - MVF)</ion-label>
        <br>
        <ion-input  type="text" [(ngModel)] ="form.initial"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">MM/DD/YYYY</ion-label>
        <br>
        <ion-datetime  type="date" [(ngModel)] ="form.date" displayFormat="MM/DD/YYYY" min="2021-01-01" max="2090-12-31"></ion-datetime>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Guardian's Initials (for example, Michael V. Flores - MVF)</ion-label>
        <br>
        <ion-input  type="text" [(ngModel)] ="form.ginitial"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <br>
        <ion-input  type="number" [(ngModel)] ="form.contact"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">MM/DD/YYYY</ion-label>
        <br>
        <ion-datetime  type="date" [(ngModel)] ="form.date2" displayFormat="MM/DD/YYYY" min="2021-01-01" max="2090-12-31"></ion-datetime>
      </ion-item>
      
      <ion-button (click)="print()" (click)="evaluation()" expand="block">Submit</ion-button>
      
    </ion-card-content>
    </ion-card>
</ion-content>
