#aboutnav{
    display: inline-block;
  }
  #aboutlist{
   margin-left: 200px;
  }
  
  #aboutnav ul ion-icon{
  padding-left: 40px;
  height: 30px;
  width: 30px;
  }
  
  #aboutnav ion-img{
    width: 200px;
    height: 70px;
    position: absolute;
    left: 0%;
    margin-right: 190px;
  }
 #aboutbody{
   margin:10px;
 }

 