<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <nav id="nav"> 
        <ion-img src="assets/img/logo.png"></ion-img>
       <div id="navlist">
         <ul>
             <ion-icon name="home"></ion-icon>
         </ul> 
       </div>
     </nav>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
     
    </ion-toolbar>
  </ion-header>

 
<body id="body">
   <div id="container">
    <h1> Online Psychological <br> Help is Now <br> Available Nationwide</h1>
    <p>A safe, warm and welcoming atmosphere
       where privacy and confidential is a commitment</p>
       <button (click)="nextpage()">Take Self Test</button>
    <ion-img src="assets/img/Contact.png"></ion-img>
  </div>
 
</body>
 
 
</ion-content>
